---
layout: default
title: Portfolio
---

<ul class="projects clearfix">
    {% for post in site.categories.project %}
        <li>
            <div class="background-colour-project">

                <div class="project">
                  <a class="cover" href="{{ post.url }}">
                    <div class="project-details">

                      <span>
                        {{ post.title }}
                      </span>
                      <span>
                        <div class="avenir_italic_bold">
                          ({{ post.type }})
                        </div>
                      </span>
                      <br>
                      <span>
                          <b>View project details</b>
                      </span>
                    </div>
                  </a>
                  {% if post.opensource %}
                    {% if post.blackbg %}
                      <span class="github-icon light"></span>
                    {% else %}
                      <span class="github-icon"></span>
                    {% endif %}
                  {% endif %}

                  <img class="thumb" src="img/thumbs/{{ post.uid }}.jpg" />
                  <div class="aspect-two-one"></div>
                </div>

                <div class="project-index-details">
                  <p class="avenir_bold">{{post.title}}</p>
                  <!-- <p class="avenir_italic">{{post.type}}</p> -->
                  <p class="avenir_italic_subtitle">{{post.tech}}</p>
                  <p class="shortdesc restricting">{{post.shortdesc}}</p>
                </div>

            </div>
      </li>

    {% endfor %}
</ul>
