---
layout: default
---

<div id="post-container">

  {% if page.herotype == "video" %}
    <video width="100%"  poster="" autoplay controls>
      <source src="{{page.video}}" type="video/mp4">
    </video>
  {% else %}
    <div class="post-wide-hero {{page.uid}}-hero" style="background-image:url(/img/{{page.uid}}/hero.jpg); background-color:{{page.hero-bg-color}}"></div>
  {% endif %}

  <div class="post post-wide">
      <div class = "background-colour-post-wide">
          <h2>{{ page.title }}</h2>
          <p class="meta">Type: <strong>{{ page.type }}</strong>  |  Platform: <strong>{{page.platform}}</strong>  |  Open Source: <a href="{{page.github}}">GitHub</a>  {% if page.github2 %}<a href="{{page.github2}}">GitHub(2)</a> {% endif %} {% if page.github3 %}<a href="{{page.github3}}">GitHub(3)</a> {% endif %}  |  License: <strong>{{ page.license }}</strong></p>
          Technologies: <div class="avenir_italic_bolder"> {{page.techdetails}} </div>
          <!-- <div class="separator"></div> -->
      </div>


      <div class = "background-colour-post-wide">

        {{ content }}
      </div>

  </div>

</div>


<a href="{{page.next.url}}" title="{{page.next.title}}" class="next-project target"></a>
<a href="{{page.previous.url}}" title="{{page.previous.title}}" class="prev-project target"></a>
